* {
    margin: auto;
    box-sizing: border-box;
}

body {
    position: relative;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h1 {
    background-color: rgba(178, 86, 220, 0.893);
    margin: 5px;
    font-style: italic;
    font-family: BlinkMacSystemFont;
    font-size: 53px;
    color: rgb(247, 248, 243);
    text-shadow: 0px 0px 10px rgb(223, 202, 10);
    text-align: center;
    border: 12px;
}

.container {
    text-align: center; 
    background-color: rgba(178, 86, 220, 0.893); 
    padding: 5px; 
    margin: 5px;
    border-radius: 10px; 
} 

button { 
    margin-top: 20px; 
    padding: 10px 20px; 
    border: none;
    color: rgb(143, 55, 160); 
    text-shadow: 0px 0px 10px rgb(223, 202, 10); 
    font-size: 24px; 
    font-family: BlinkMacSystemFont;
    cursor: pointer; 
    border-radius: 10%; 
} 

button:hover {
    background-color: #8a4d99;
} 

h3 { 
    margin-bottom: 10px; 
} 

#timer, #clicks, h2, h3 { 
    font-weight: bold; 
    color: rgb(247, 248, 243);
    text-shadow: 0px 0px 10px rgb(223, 202, 10); 
    font-size: 24px; 
    font-family: BlinkMacSystemFont;
}

.contenu {
    background-color: rgba(178, 86, 220, 0.542);
    width: 70%;
    height: 100%;
    margin: auto;
    min-width: 600px;
    overflow-x: none;
    overflow-y: auto;
    padding: 50px 30px;
}

.instruction{
    font-style: italic;
    font-family: BlinkMacSystemFont;
    color: rgb(247, 248, 243);
    text-shadow: 0px 0px 10px rgb(223, 202, 10);
    text-align: center;
    border: 12px;
    font-size: 33px;

}

table {
    border-collapse: collapse;
    border: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    
    padding: 5px;
    margin: 5px;
}


.card {
    position: relative;
    width: 120px; 
    height: 120px; 
    cursor: pointer;
    padding: 5%;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.card-back {
    z-index: 1;
}

.card-front {
    z-index: 2;
    display: none;
}






